<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title> Your Query has been received </title>
</head>

<body>
	<h1> Contact Confirmation</h1>
	<div>
        
		<em>Thank you! We received your contact info!!!</em> <br>
		<a href="/"> Home </a>
	</div>
</body>

</html>